:root {
  --primary-color: #353535;
  --secondary-color: #3C6E71;
  --tertiary-color: #D9D9D9;
  --text-color: #FFFFFF;
  --back-color: #284B63;
}

* {
  font-family:'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  
}

/* HEADER STYLE START */

header {
  height: 100px;
  background-color: var(--primary-color);
  color: var(--text-color);
  opacity: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

header h1 {
  font-weight: bold;
  padding: 10px;
  border: 1px solid var(--tertiary-color);
  border-radius: 0.1em;
  margin-left: 1em;
  transition: all 1s ease-in-out;
}

header h1 a {
  text-decoration: none;
  color: var(--tertiary-color)
}

/* NAV STYLE START */

header nav ul li {
  margin-right: 2em;
  display: inline;
}

ul li {
  list-style-type: none;
}

ul li a {
  text-decoration: none;
}

#menu ul li a {
  color: var(--text-color);
  padding: 1em;
  transition: all 0.5s ease;
  box-shadow: 0 0 100px var(--primary-color) inset;
}

/* HEADER ANIMATION START */


header h1:hover {
  background-color: var(--back-color);
  color: var(--text-color);
  border-radius: 5px;
  rotate: 720deg;
  box-shadow: 0 0 30px var(--primary-color) inset;
}

#menu ul li a:hover {
  padding: 1em;
  background-color: var(--secondary-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0 0 20px var(--primary-color) inset;
}

/* SECTION START */

section {
  width: 100%;
  padding: 2em;
  height: auto;
}

h2 {
  padding-bottom: 1em;
}

/* WELCOME START */

#welcome {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
  color: var(--text-color);
  font-weight: bold;
  font-size: 30px;
  background-image: url("../images/background/forrest.jpg");  /* Photo by Ali Kazal from Pexels */ 
  background-color: var(--tertiary-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* ABOUT SECTION START */

#about {
  min-height: 600px;
  display: flex;
  align-items: center;
}

#container {
  padding: 2em;
  display: flex;
}

#container img {
  width: auto;
  height: 200px;
  box-shadow: 0 0 10px var(--primary-color);
}

#container p {
  padding-left: 2em;
}

#hobbies {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
}

#hobbyContainer {
  display: flex;
  justify-content: center;
  gap: 3em;
}

#hobbyContainer li img {
  width: auto;
  height: 50px;
  border: 3px solid var(--secondary-color);
  padding: 0.25em;
  border-radius: 0.5em;
  box-shadow: 0 0 5px var(--primary-color);
}

/* PORTFOLIO SECTION START */

#portfolio {
  margin: 0;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: linear-gradient(var(--text-color), var(--primary-color));
  min-height: 700px;
}

#portfolio h2 {
  width: 100%;
}

.projects {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 1em;
  margin: 1em;
  border-radius: 0.5em;
  box-shadow: 0 0 10px var(--primary-color);
  cursor: pointer;
  flex: 1;
  justify-content: center;
  align-items: center;
  min-width: 400px;
  min-height: 300px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: screen;
  background-color: var(--tertiary-color);
  transition: all 0.5s ease-in-out;
}

.projects h3 {
  opacity: 1;
  padding: 20px;
  background: var(--back-color);
  color: var(--text-color);
  box-shadow: 0 0 5px var(--primary-color);
  border-radius: 0.2em;
}

.projects p {
  margin-top: 1em;
  padding: 0.75em;
  background: var(--primary-color);
  color: var(--text-color);
  border-radius: 0.2em;
  transition: all 1s ease-in-out;
}

#rps {
  flex: 2 0 80%;
  background-image: url("../images/appPhotos/RPScenter.png");
}

#etch {
  background-image: url("../images/appPhotos/etch-a-sketch.png");
}

#run {
  background-image: url("../images/appPhotos/runbuddy.png");
  background-position: top;
}

/* DIV HOVER EFFECT START */

#rps:hover,
#etch:hover,
#run:hover {
  background-color: transparent;
  box-shadow: 0 0 20px inset;
}

.projects p:hover {
  color: transparent;
  background-color: transparent;
}

/* CONTACT SECTION START */

#contact {
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  flex-flow: column;
  min-height: 300px;
  justify-content: center;
}


#contact div ul {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2em;
}

#contact div ul li {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid var(--secondary-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 0.5em;
  transition: all 0.3s ease-in-out;
}

#contact div ul li a {
  color: var(--text-color);
}

/* CONTACT HOVER START */

#contact div ul li:hover {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  font-weight: bold;
}

/* FOOTER START */

footer {
  height: 50px;
  width: 100%;
  background-image: linear-gradient(var(--primary-color), var(--secondary-color));
  color: var(--text-color);
  bottom: 0;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  /* might be unnecessary  */
}